* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}



body {
	margin: auto;
	padding: 0;
	height: 100%;
}


section {
	margin: 0;
	padding: 0;
}


a:link {
	text-decoration: none;
}



@font-face {
	font-family: 'Bebas';
	src: url('Bebas/BebasNeue_Regular.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DIN';
	src: url('DIN-Condensed-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}

#bgsidebar {
	position: fixed;
	z-index: 0;
	width: 240px;
	/*height: 100%;*/
	background-color: #d6d6d6;
}

#banner {
	background-color: white;
	margin: auto;
	height: 300px;
	display: block;
	background-image: url("Images/Banniere.jpg");
	background-repeat: no-repeat;
	background-position: center;
	z-index: 1;
}


#menu {
	display: inline-flex;
	top: 0;
	height: 50px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	/*		background-color:#072039; */
	background-color: rgba(255, 255, 255, 0);
	background-image: url("Images/Menu.png");
	background-repeat: no-repeat;
	background-position: center;
}

.fixedTop {
	position: fixed;
	top: 0;
	width: 100% !important;
	margin-left: auto;
	margin-right: auto;
	/*		background : linear-gradient(to right, #14283c , #072039, #14283c);
		background-color:rgba(255, 255, 255,0.8); */
}

.dmenu {
	width: 200px;
	/*		border-left: #14283c solid 1px;
		border-right: #14283c solid 1px; */
	text-align: center;
	padding-top: 7px;
	font-family: Bebas;
	font-size: 28px;
	color: #eff1f0;
}

.dmenu:hover {
	/*		background-color:#bfbfbf; */
	color: #ffcd47;
}

.dmenu:active {
	/*		background-color:#d9d9d9; */
	color: white;
}


#dmenumobo {
	display: flex-inline;
	width: 45px;
	height: 45px;
	background-image: url("Images/menuiconwhite.png");
	background-repeat: no-repeat;
	background-position: center;
}

#dmenumobo:hover {
	background-image: url("Images/menuiconyellow.png");
	color: white;
}

#dmenumobo:active {
	background-image: url("Images/menuiconwhite.png");
	color: white;
}

#dmenumobf {
	display: none;
	width: 45px;
	height: 45px;
	background-image: url("Images/closewhite.png");
	background-repeat: no-repeat;
	background-position: center;
}

#dmenumobf:hover {
	background-image: url("Images/closeyellow.png");
	color: white;
}

#dmenumobf:active {
	background-image: url("Images/closewhite.png");
	color: white;
}

#menumob {
	display: block;
	position: fixed;
	top: 0;
	height: 50px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	justify-content: left;
	/*		background-color:#072039; */
	background-color: rgba(255, 255, 255, 0);
	background-image: url("Images/Menu.png");
	background-repeat: no-repeat;
	background-position: center;
	z-index: 1;
}

#menuder {
	padding-top: 200px;
	background-color: #f2f2f2;
	display: none;
	position: fixed;
	flex-direction: column;
	width: 200px;
	height: 100%;
	border-right: silver solid 2px;
	z-index: 0;
}

.dmenuder {
	width: 200px;
	height: 40px;
	background-color: #f2f2f2;
	text-align: center;
	padding-top: 15px;
	font-family: Bebas;
	font-size: 30px;
	color: #404040;
	margin-bottom: 30px;
}

.dmenuder:hover {
	background-color: #bfbfbf;
	color: white;
}

.dmenuder:active {
	background-color: #d9d9d9;
	color: white;
}



@keyframes showmenumob {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes showmenumob2 {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes showNav {
	from {
		height: 0px;
	}
	to {
		height: 435px;
	}
}

@keyframes showNav2 {
	from {
		height: 400px;
	}
	to {
		height: 0px;
	}
}


#premier {
	height: 40px;
}

.fixedTop2 {
	margin-top: 40px;
}

#premiermob {
	height: 40px;
	display: none;
}


#conteneur {
	margin: auto;
	display: inline-flex;
	background-color: #d6d6d6;
}




aside h3 {
	font-size: 30px;
	font-family: Bebas;
}


aside a {
	color: #404040;
}

#sidebar {
	width: 240px;
	float: left;
	margin-top: -400px;
}

#sidebarContent {
	width: 240px;
	float: left;
	margin-left: 20px;
	font-family: Bebas;
	color: #202020;
}

.nonfixedSideBar {
	position: absolute;
	margin-top: 370px;
}

.fixedSideBar {
	position: fixed;
	margin-top: 80px;
}

#liste {
	margin-left: 20px;
	display: inline-flex;
	flex-direction: column;
}

.daside {
	color: #404040;
	font-size: 22px;
	margin-bottom: 10px;
	width: 100%;
	font-family: Bebas;
}

.daside:hover {
	color: white;
}






#articles {
	margin-left: 240px;
	justify-content: center;
	display: inline-flex;
	flex-wrap: wrap;
	background-color: white;
}


#nomPage {
	height: 100px;
	width: 100%;
	font-family: Bebas;
	font-size: 60px;
	color: #388e6b;
	padding-left: 50px
}

.rubrique {
	/*		height:300px; */
	width: 80%;
	background-color: #ffffff;
	margin: 10px;
	border-top: 2px solid silver;
}

.rubrique h3 {
	font-family: DIN;
	font-size: 30px;
	color: #b23c3a;
	margin: 25px 0;
}

.rubrique h4 {
	font-family: DIN;
	font-size: 24px;
	color: #000000;
	margin-bottom: 10px;
	margin-top: 0px;
	margin-left: 15%;
}

.titreMenu {
	font-family: DIN;
	font-size: 26px;
	color: #000000;
	margin-bottom: 20px;

}

.plat {
	font-family: Bebas;
	font-size: 22px;
	color: #808080;
	margin-bottom: 40px;
}

.rubrique ul {
	text-indent: 15px;
	text-align: justify;
	text-justify: auto;
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 22px;

	list-style-type: none
}



.rubrique p {
	text-indent: 0px;
	text-align: justify;
	margin-top: 0;
	margin-bottom: 20px;
	font-family: DIN;
	font-size: 22px;
	color: #041d36;
}

.adresse {
	text-align: justify;
	text-justify: inter-word;
	margin-top: 5px;
	margin-bottom: 20px;
	font-family: Bebas;
	font-size: 18px;
	color: #041d36;

}

.brut {
	text-align: justify;
	text-justify: inter-word;
	margin-top: 0;
	margin-bottom: 20px;
	font-family: DIN;
	font-size: 22px;
	color: #041d36;
	margin-left: 25%;
}

.brutsansmarge {
	text-align: justify;
	text-justify: inter-word;
	margin-top: 0;
	margin-bottom: 20px;
	font-family: DIN;
	font-size: 22px;
	color: #041d36;
	margin-left: auto;
}

.remarque {
	text-align: justify;
	text-justify: inter-word;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: DIN;
	font-size: 16px;
	color: #041d36;
	margin-left: auto;
}

.brutDJ {
	text-align: left;
	margin-top: 0px;
	margin-bottom: 20px;
	font-family: Bebas;
	font-size: 22px;
	color: #041d36;
	margin-left: 20%;
}

.conteneurRubrique {
	width: 100%;
	display: inline-flex;
	flex-wrap: wrap;

}

.conteneurRubrique2 {
	width: 100%;
	display: inline-flex;

}

.conteneurRubrique3 {
	width: 100%;
	display: inline-flex;
	flex-direction: column;
	align-content: center;
	text-align: center;
	margin: auto;



}

.block {
	margin-right: 20px;
}

.listH {
	font-family: Bebas;
	color: #404040;
	margin-bottom: 5px;
	margin-left: 22%;
	font-size: 22px;
}

.listT {
	font-family: Bebas;
	color: #808080;
	margin-bottom: 5px;
	font-size: 22px;
}

.listHdiner {
	font-family: Bebas;
	color: #041d36;
	margin-bottom: 5px;
	margin-left: 22%;
	font-weight: bold;
}

.listTdiner {
	font-family: Bebas;
	color: #041d36;
	margin-bottom: 5px;
	font-weight: bold;
}


.text {
	min-width: 300px;
	width: 50%;

}

.image {
	min-width: 200px;
	width: 40%;
	margin-left: auto;
	background-image: url("Images/pioche.jpg");
	background-size: contain;
	background-repeat: no-repeat;

}


#footer {
	margin-top: 50px;
	position: relative;
	flex-wrap: wrap;
	justify-content: center;
	display: inline-flex;
	width: 100%;
	/*		height:250px; */
	z-index: 9;
	background-color: #041d36;
}

#logo {
	height: 220px;
	width: 220px;
	margin: auto;
	background-image: url("Images/logomines.png");
}


#reseauxsociaux {
	justify-content: center;
	display: inline-flex;
	flex-direction: column;
	height: 220px;
	width: 220px;
	margin: auto;
}

.reseau {
	display: inline-flex;
	height: 70px;
	width: 220px;
	margin-top: 10px;
}

#reslogo1 {
	height: 70px;
	width: 70px;
	background-image: url("Images/logoTwitter.png");
	background-size: cover;
}

#reslogo1:hover {
	height: 75px;
	width: 75px;
}

#reslogo2 {
	height: 70px;
	width: 70px;
	background-image: url("Images/logoFB.png");
	background-size: cover;
}

#reslogo2:hover {
	height: 75px;
	width: 75px;
}

#restext1 {
	margin-left: 10px;
	padding-top: 24px;
	color: #19b2f5;
	font-size: 20px;
	font-family: DIN;
}

#restext2 {
	margin-left: 10px;
	padding-top: 24px;
	color: #0073cc;
	font-size: 20px;
	font-family: DIN;
}


#sponsors {
	height: 220px;
	padding-top: 10px;
	padding-left: 10px;
	width: 220px;
	margin: auto;
	color: #ffcd47;
	font-size: 25px;
	font-family: DIN;
}

#sponsors h4 {
	margin-bottom: 10px;
}

.sponsor1 {
	height: 50px;
	width: 220px;
	background-size: cover;
	margin-top: 10px;
	background-image: url("Images/logoMazars.png");
}

#sponsor2 {
	height: 50px;
	width: 220px;
	background-size: cover;
	margin-top: 10px;
	margin-bottom: 10px;
	background-image: url("Images/logoSoge.png");
	background-size: 90%;
	background-position: left;
	background-repeat: no-repeat;
}

#sponsor3 {
	height: 50px;
	width: 220px;
	background-size: cover;
	margin-top: 10px;
	margin-bottom: 10px;
	background-image: url("Images/nrj.png");
	background-size: 20%;
	background-position: center;
	background-repeat: no-repeat;

}

#sponsor4 {
	height: 50px;
	width: 220px;
	background-size: cover;
	margin-top: 5px;
	background-image: url("Images/nexialog.png");
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
}

#contact {
	height: 220px;
	width: 150px;
	padding-left: 10px;
	padding-top: 10px;
	margin: auto;
	color: #ffcd47;
	font-size: 25px;
	font-family: DIN;
}

#contact ul {
	list-style: none;
	margin-top: -10px;
	margin-left: -20px;
}

#contact a:link {
	text-decoration: none;

}

#contact a:hover {
	color: white;
}

#credit {
	height: 40px;
	width: 170px;
	padding-top: 0px;
	margin: auto;
	color: #ffcd47;
	font-size: 25px;
	font-family: DIN;
}

#credit p {
	color: #388e6b;
	font-size: 18px;
}

/*-------------------------------------DJ-------------------------*/

h5 {
	color: #323232;
	text-transform: uppercase;
	font-family: 'Raleway', DIN;
	font-weight: 600;
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 25px;
	letter-spacing: 2px;
	line-height: 23px;
	font-weight: 600;

}

h5.white {
	color: #fff !important;
}

.container-filter {
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 30px;
	padding: 0;
	text-align: center;
}

.container-filter li {
	list-style: none;
	display: inline-block;
}

.container-filter li a {
	display: block;
	margin-left: 15px;
	margin-right: 15px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	font-weight: 600;
	font-family: 'Raleway', DIN;
}

.container-filter li a.active {
	color: #e6ae49;
}

.item-box {
	position: relative;
	overflow: hidden;
	display: block;
}

.item-box a {
	display: inline-block;
}

.item-box:hover .item-mask {
	opacity: 1;
	visibility: visible;
}

.item-box:hover .item-mask .item-caption {
	bottom: 30px;
	opacity: 1;
}

.item-box:hover .item-container {
	transform: scale(1.1);
	transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
	width: 60%;
}

.item-container {
	transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	width: 60%;
	transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
	-moz-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
	-webkit-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
	-o-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}

.item-mask {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
	height: 100%;
	position: absolute;
	transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	width: 63%;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
}

.item-mask h5,
.item-mask h6,
.item-mask p {
	margin-bottom: 0px;
}

.item-mask p {
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 1.5px;
	font-weight: 400;
	margin-top: 0;
	text-align: left;
}

.item-mask .item-caption {
	position: absolute;
	bottom: -60px;
	left: 0px;
	padding-left: 30px;
	padding-right: 30px;
	text-align: left;
	transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	opacity: 0;
}

.project-detail-block p {
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

ul.project-detail-block,
.project-detail-block ul {
	padding-left: 0;
}

.project-detail-block li {
	list-style: none;
}

.project-detail-block p strong {
	display: inline-block;
	width: 110px;
}

.item-nav {
	text-align: center;
	display: block;
	overflow: hidden;
}

.item-nav .item-prev,
.item-nav .item-next,
.item-nav .item-all-view {
	position: relative;
	display: inline-block;
}

.item-nav .item-all-view h5,
.item-nav .item-all-view h6 {
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}

.item-nav .item-all-view h5:hover,
.item-nav .item-all-view h6:hover {
	color: #e6ae49;
}

.item-nav .item-prev .prev-btn,
.item-nav .item-next .next-btn,
.item-all-view {
	display: inline-block;
	font-size: 25px;
	text-align: center;
	height: 51px;
	line-height: 51px;
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}

.item-nav .item-prev .prev-btn,
.item-nav .item-next .next-btn {
	color: #323232;
	background: #fff;
	width: 51px;
}

.item-nav .item-prev:hover .prev-btn,
.item-nav .item-next:hover .next-btn {
	background: #f7f7f7;
	/*color: #fff;*/
}

.item-nav .item-prev {
	text-align: left;
	float: left;
}

.item-nav .item-next {
	text-align: right;
	float: right;
}

.item-nav .item-prev .item-prev-text,
.item-nav .item-next .item-next-text {
	position: absolute;
	line-height: 51px;
	top: 10px;
	z-index: -1;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	width: 150px;
}

.item-nav .item-prev:hover .item-prev-text,
.item-nav .item-next:hover .item-next-text {
	margin-left: 0;
	margin-right: 0;
	visibility: visible;
	opacity: 1;
}

.item-nav .item-prev .item-prev-text {
	left: 100%;
	margin-left: -110px;
	padding-left: 15px;
}

.item-nav .item-next .item-next-text {
	right: 100%;
	margin-right: -110px;
	padding-right: 15px;
}

.item-nav .item-prev .item-prev-text p,
.item-nav .item-prev .item-prev-text h5,
.item-nav .item-prev .item-prev-text h6,
.item-nav .item-next .item-next-text p,
.item-nav .item-next .item-next-text h5,
.item-nav .item-next .item-next-text h6 {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.item-nav .item-prev .item-prev-text h5,
.item-nav .item-prev .item-prev-text h6,
.item-nav .item-next .item-next-text h5,
.item-nav .item-next .item-next-text h6,
.item-nav .item-all-view h5,
.item-nav .item-all-view h6 {
	padding-top: 8px;
}

/*--------Button Style----------*/

.btn:focus {
	outline: none;
}

.btn,
button {
	font-size: 15px;
	line-height: normal;
	font-weight: 900;
	font-family: 'Raleway', DIN;
	letter-spacing: 2px;
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
}

.btn i,
button i,
i.left {
	margin-right: 6px;
}

i.right {
	margin-left: 6px;
	margin-right: 0px !important;
}

button {
	vertical-align: top;
}

.btn-full {
	width: 100% !important;
	display: inline-block;
	text-align: center;
}

.btn-lg {
	padding: 15px 25px;
	display: inline-block;
}

.btn-md {
	padding: 11px 20px;
	display: inline-block;
}

.btn-xs {
	padding: 11px 15px 10px;
	display: inline-block;
}

.btn-line-xs {
	padding: 7px 15px 7px;
	display: inline-block;
}

.btn-icon {
	padding: 0px;
	width: 34px;
	height: 34px;
	line-height: 34px;
	display: inline-table !important;
}


.btn-black {
	color: #fff;
	background: #323232;
	border: none;
}

.btn-black:hover {
	color: #fff;
	/*background: #e6ae49;*/
	background: rgba(50, 50, 50, 0.85);
}

.btn-color-a,
.btn-color-b {
	color: #fff;
	background: #e6ae49;
	border: none;
}

.btn-color-a:hover {
	color: #fff;
	background: rgba(230, 174, 73, 0.85);
}

.btn-color-b:hover {
	color: #fff;
	/*color: #e6ae49;
        background: #fff;*/
	background: rgba(230, 174, 73, 0.85);
}

.btn-white {
	color: #323232;
	background: rgba(255, 255, 255, 1);
	border: none;
}

.btn-white:hover {
	/*color: #fff;
        background: #e6ae49;*/
	background: rgba(255, 255, 255, 0.85);
	color: #323232;
}

.btn-black-line,
.btn-white-line,
.btn-color-line {
	border: 2px solid;
	background: none;
}

.btn-black-line {
	color: #323232;
	border-color: #323232;
	padding: 9px 20px;
}

.btn-black-line:hover {
	color: #fff;
	background: #323232;
}

.btn-color-line {
	color: #e6ae49;
	border-color: #e6ae49;
	padding: 9px 20px;
}

.btn-color-line:hover {
	color: #fff;
	background: #e6ae49;
}



.btn-white-line {
	color: #fff;
	border-color: #fff;
	padding: 9px 20px;
}

.btn-white-line:hover {
	color: #323232;
	background: #fff;
}

.btn-link-a,
.btn-link-b {
	color: #323232;
	background: none;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 3px;
	border-bottom: 1px dotted transparent;
	font-weight: 600;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.btn-link-a:hover {
	color: #e6ae49;
	border-bottom: 1px solid #e6ae49;
}

.btn-link-b:hover {
	color: #fff;
	border-bottom: 2px solid #fff;
}

.btn-space-5 {
	width: 5px;
	min-height: 1px;
	display: inline-block;
}

.btn-space-10 {
	width: 10px;
	min-height: 1px;
	display: inline-block;
}
